
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100%;
    
}
body{
    width: 100%;
}
#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
}
#header .fa-hamburger{
    font-size: 4rem;
    z-index: 10000;
    color: #fff200;
    cursor: pointer;
    display: none;
}
.logo img{
        height:5rem;
    }
#header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
#header nav ul li{
    margin-right: 4rem;
}

#header nav ul li a{
    color: #fff;
    font-size:2rem;
}
#header nav ul li a:hover{
    color: #fff200;
    text-decoration: none;
}
#home{
    background: linear-gradient(0deg,rgba(0,0,0,.6),rgba(0,0,0,.6));
    min-height: 100vh;
    position: relative;
}
.content h1{
    font-size: 5rem;
    font-family: 'Lemonada', cursive;
    font-weight: bolder;
    text-shadow: .1rem .1rem #333;
    color: #fff200;
}
.content h2{
    font-size: 3.5rem;
    font-family: 'Lemonada', cursive;
    font-weight: bolder;
    text-shadow: .1rem .1rem #333;
    color: #fff;
    margin: 1rem 0;
}
.content p{
    font-size: 1.6rem ;
    color:#ccc;
}
.content button{
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width:14rem;
    background-color: #fff;
}
.content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
}
.content button:hover::before{
    width: 100%;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.video-container .vid{
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    display: none;
}
.video-container .vid1{
    display: block;
}
 .controls{
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.controls .dots{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background: #fff200;
    margin: 0 1rem;
}
.controls .dots:hover{
    background:#fff ;
}
.fa-times{
    transform: skew(-180deg) rotate(-180deg);
}
 
/*special section starts*/

#special{
    background: #000;
    min-height: 100vh;
}
.heading {
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
}
.heading h1{
    color: #fff;
}
.heading h1 span{
    color: #fff200;
}
.heading p{
    color: #ccc ;
    font-size: 2rem;
}
.card-container{
   width: 95%; 
   margin: 7rem auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.card{
    height: 40rem;
    width: 30rem;
    background: #fff;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}
.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
.card-container p{
    font-size: 1.4rem;
    margin: 2rem 0;
}
.card-container button{
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 3.5rem;
    width:14rem;
    background-color: #333;
}
.card-container button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff200;
    height: 100%;
    width: 0%;
    transition: .2s;
    z-index: -1;
}
.card-container button:hover::before{
    width: 100%;
}
.card-container button:hover{
    color: #333;
}
.card:hover{
    transform: scale(.9);
}
.header-active{
    background-color: #333;
    height: 6rem;
    box-shadow: 2rem 0 .5rem #000;
  }
  .header-active nav ul{
    margin: 0;
  }
#about .heading h1{
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
}
#about .content{
    margin: 5rem auto;
}
#about p{
    font-size: 2rem;
    color: #000;

}
#about .content button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 14rem;
    background: #333;
    color: #fff;
  }
#about .content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #about .content button:hover::before {
    width: 100%;
  }
  
  #about .content button:hover {
    color: #333;
  }
  .chef {
    text-align: center;
    
  }
  .chef img{
    width: 30vw;
  }
 
  /*dish*/

#dish{
      min-height: 100vh;
      width: 100vw;
  }
 #dish .heading h1{
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
}
#dish .box-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}
#dish .box{
    height: 20rem;
    width: 25rem;
    border-radius: .5rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 .5rem #333;
}
#dish img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#dish .info{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51,51, .6);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #fff;
}
#dish .info h3{
    font-size: 3rem;
}
#dish .info p{
    font-size: 1.3rem;
    border-bottom: .2rem solid #fff200;
    border-top: .2rem solid #fff200;
}
#dish .box-container .box .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.6);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    color: #fff;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #dish .box-container .box .info h3 {
    font-size: 3rem;
  }
  
  #dish .box-container .box .info p {
    font-size: 1.3rem;
    border-bottom: 0.2rem solid #FFF200;
    border-top: 0.2rem solid #FFF200;
    margin: 1rem 2rem;
  }
  
  #dish .box-container .box .info button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 14rem;
  }
  
  #dish .box-container .box .info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #dish .box-container .box .info button:hover::before {
    width: 100%;
  }
  
  #dish .box-container .box:hover .info {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  /*contact section*/

#contact{
    min-height: 100vh;

    background: url(../images/cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
#contact .heading h1{
    font-size: 4rem;
    color: #000;
    padding-top: 7rem;
    margin-bottom: 2rem;
}
#contact form{

    background: #fff;
    padding-top: 2rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #333 ;

}
#contact .inputBox{
    position: relative;
    text-align: center;
}
#contact form .inputBox input:focus ~ h3,
#contact form .inputBox input:valid ~ h3, #contact form .inputBox textarea:focus ~ h3,
#contact form .inputBox textarea:valid ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -.5rem;
  color: #ff3300;
}
#contact form .inputBox input, #contact form .inputBox textarea{
    outline: none;
    border: .2rem solid #333 ;
    border-radius: .2rem;
    margin: 2rem 0;
    padding: 0 1rem;
    background: none;
    height: 4rem;
    width: 90%;
    font-size: 2rem;
}
#contact form .inputBox textarea{
    padding: 1rem;
    resize: none;
    height: 20rem;
}
#contact form .inputBox h3{
    position: absolute;
    top: 3rem;
    left: 7%
}
#contact form input[type="submit"] {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 12rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    background: #333;
    color: #fff;
  }
  
  #contact form input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #contact form input[type="submit"]:hover::before {
    width: 100%;
  }
  
  #contact form input[type="submit"]:hover {
    color: #333;
    background: #FFF200;
  }
  #footer{
      background: #333;
  }
  #footer h1{
        font-size: 2rem;
        margin: 0;
        padding: 2rem 0;
        text-align: center;
        color: #fff;
  }
#footer h1 span {
      color: #fff200;
  }
#footer .brand{
    text-align: center; 
    margin-top:2rem ;
}
#footer .brand a .logo img{
    height: 4rem;
}
#footer .icons a{
    font-size: 2rem;
    margin: 2rem 1rem;
    color: #fff;
}
#footer .icons a:hover{
    color: #fff200;
}
#footer .footer-links{
    text-align:center;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}
#footer .footer-links h3{
    font-size: 2.2rem;
    color: #fff200;
}
#footer .footer-links a{
    color: #fff;
    font-size:1.7rem
}
#footer .letter h2{
    font-size: 2rem;
    margin: 2rem 0;
    color: #fff;
}
#footer .letter input[type="text"]{
    border: .2rem solid #fff;
    outline: none;
    background: none;
    height: 4rem;
    width: 22rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #fff;
}
#footer .letter input[type="submit"] {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 12rem;
    margin: 1rem 0;
  }
  
  #footer .letter input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF200;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #footer .letter input[type="submit"]:hover::before {
    width: 100%;
  }
  
  #footer .letter input[type="submit"]:hover {
    color: #333;
    background: #FFF200;
  }
  
    /*media queries*/
@media (max-width:768px){
    html{
        font-size: 50%;
    }
    #header .fa-hamburger{
        display: block;
        z-index: 1;
        position: relative;
    }
    #header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 35rem;
        background: #000;
        display: none;
    }
    #header nav ul{
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }
    #header nav ul li{
        margin: 2rem 0;
    }
    #header nav ul li a{
        padding: .5rem 7.5rem;
        font-size: 3.5rem;
        border-radius: 5rem;
    }
    #header nav ul li a:hover{
        color:#333;
        background: #fff200;
    }

   #header nav.active{
       display: flex;
   }
}
